@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pb-lg-5">
    <h1 class="display-4">Commit 2019</h1>
    <h3>Demo de autenticación passwordless usando WebAuthn & fido2</h3>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registro de usuario</h3>
            </div>
            <div class="panel-body">
                <form id="register" asp-route="Register">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input id="registerUsername" asp-for="Username" placeholder="Nombre de usuario" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DisplayName"></label>
                            <input id="registerDisplayName" asp-for="DisplayName" placeholder="Nombre para mostrar" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" name="button" value="login">Registrarse</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form id="login" asp-route="Login">
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input id="loginUsername" asp-for="Username" placeholder="Nombre de usuario" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" name="button" value="login">Acceder</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => System.import("Register"));
        document.addEventListener("DOMContentLoaded", () => System.import("Login"));
    </script>
}
